.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

build/

.android/
.ios/

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
desktop.ini

*.log